.hiden {
    display: none;
}

/* ====== BASE ====== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    background-color: #fff;
}

/* ======= RESET=======*/
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}



/*======common======*/
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* ====== LOGO (HEADER & FOOTER) ====== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.nav-list,
.contacts-personnel {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    color: #2E2F42;
    padding: 16px 0;
}

.accent {
    color: #4D5AE5;
}

.footer-logo-accent {
    color: #4D5AE5;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    
    .logo {
        padding: 24px 0;
        margin-right: 88px;
   }

    .nav-list { 
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .contacts-personnel {
        font-style: normal;
        display: block;
    }

    .nav {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    
    
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.current {
        color: #404BBF;
    }
    
    .nav-link.current {
        position: relative;
    }
    
    .nav-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
    }
    
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .nav-link {
        display: block;
        padding: 24px 0;
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: 0.02em;
        line-height: 1.5;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-link {
        display: block;
        color: #434455;
        font-size: 12px;
        text-decoration: none;
        letter-spacing: 0.04em;
        line-height: 1.17;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contact-link {
        padding: 24px 0;
        font-size: 16px;
        text-decoration: none;
        letter-spacing: 0.02em;
        line-height: 1.5;
    }    
}

/* ===== MOBILE MENU ===== */

.mobile-menu {
    position: fixed;
    inset: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms, visibility 250ms;
    display: flex;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 72px 16px 40px;
}

/* Close button */
.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation */
.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    text-decoration: none;
}

.mobile-nav-link.current {
    color: #4D5AE5;
}

/* Contacts */
.mobile-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
     margin-top: auto;
}

.mobile-phone {
    font-size: 24px;
    font-weight: 700;
    color: #4D5AE5;
    text-decoration: none;
}

.mobile-email {
    font-size: 20px;
    color: #434455;
    text-decoration: none;
}

/* Social icons */
.mobile-social-list {
    display: flex;
    gap: 24px;
}

.mobile-social-link {
    width: 40px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== MODAL BACKDROP ===== */
.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ===== MODAL WINDOW ===== */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 72px 16px 24px;
    border-radius: 4px;
}

/* Close button */
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Title */
.modal-title {
    font-size: 16px;
    font-weight: 500;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
}

/* Inputs */
.modal-label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #8E8F99;
    margin-bottom: 8px;
}

.modal-input,
.modal-textarea {
    margin-top: 4px;
    padding: 8px 12px;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    font-size: 14px;
}

.modal-textarea {
    height: 80px;
    resize: none;
}

/* Checkbox */
.modal-checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 16px 0;
    font-size: 12px;
}

/* Submit button */
.modal-submit {
    width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    background: #4D5AE5;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

@media screen and (min-width: 1158px) {
    .mobile-menu {
        display: none;
    }
} 

/* MOBILE HEADER */
.logo {
    padding: 16px 0;
}

.burger-btn {
    padding: 0;
    border: none;
    background: transparent;
}

.burger-icon {
    fill: #2E2F42;
}

/* MOBILE MENU */

.backdrop.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 300ms ease, visibility 300ms ease;
}

.backdrop.mobile.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-mobile {
    position: absolute;
    padding: 72px 16px 24px 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-mobile {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: #e7e9fc;
    color: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-mobile:hover,
.modal-close-mobile:focus {
    background-color: #404bbf;
}

.modal-close-mobile:hover svg,
.modal-close-mobile:focus svg {
    fill: #fff;
}

.modal-close-mobile svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.modal-title-mobile {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.request-form-mobile {
    display: flex;
    flex-direction: column;
}

.modal-field-mobile {
    margin-bottom: 8px;
}

.modal-field-mobile:nth-child(4) {
    margin-bottom: 16px;
}

.modal-field-mobile:last-of-type {
    margin-bottom: 24px;
}

.modal-label-mobile {
    color: #8e8f99;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
}

.modal-field-wrapper-mobile {
    position: relative;
}

.modal-input-mobile {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #111;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-mobile:focus {
    outline: none;
    border-color: #4D5AE5;
}

.modal-field-icon-mobile {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-mobile:focus+.modal-field-icon-mobile {
    fill: #4D5AE5;
}

.modal-textarea-mobile {
    height: 120px;
    resize: none;
    padding: 8px 16px;
}

.modal-check-mobile {
    position: absolute;
    opacity: 0;
}

.modal-check-label-mobile {
    display: flex;
    align-items: center;

    width: 256px;
    min-height: 31px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-check-label-mobile a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.check-mark-mobile {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-mobile:checked+.modal-check-label-mobile .check-mark-mobile {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
}

.modal-check-mobile:focus+.modal-check-label-mobile .check-mark-mobile {
    border-color: #4D5AE5;
}

.submit {
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover,
.submit:focus {
    background-color: #404bbf;
}

@media screen and (max-width: 767px) {

    /* desktop modal OFF */
    .backdrop {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    .mobile-menu {
        display: none;
    }

    .backdrop.mobile {
        display: none;
    }
}

/* ====== Hero Section ====== */

.hero {
    padding: 112px 0;
    text-align: center;

    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/Dark-bg-mob-1x.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* retina mobile */
@media (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/Dark-bg-mob-2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/Dark-bg-tablet-1x.jpg");
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/Dark-bg-tablet-2x.jpg");
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/people-office-1.jpg");
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/people-office-2x.jpg");
    }
}

.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-title {
    font-size: 36px;
    line-height: 1.11;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    color: #fff;
}

.intro-button {
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.intro-button:hover,
.intro-button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .intro-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .intro-title {
        margin-bottom: 48px;
    }
}


/* ====== FEATURES ====== */

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.section {
    padding: 96px 0;
}

.features-item {
    width: 100%;
}

.features-item-box {
    display: none;
    /* Иконки скрыты на мобилке */
}

.features-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-title,
    .features-text {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-item-box {
        display: flex;
        /* Иконки включаются */
        width: 264px;
        height: 112px;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background-color: #F4F4FD;
        margin-bottom: 8px;
    }

    .features-title {
        font-size: 20px;
        line-height: 1.2;
    }
}

/* ===== TEAM ===== */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.our-team {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0;
    padding: 0;
}

.team-card {
    background-color: #ffffff;
    text-align: center;
    width: 264px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
    padding: 32px 16px;
}

.name {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
}

.specialty {
    margin-bottom: 8px;
    font-size: 16px;
    color: #434455;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-icon {
    fill: #F4F4FD;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }

    .team-card {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-card {
        width: 264px;
    }
}

/* ====== PORTFOLIO ====== */

.team-portfolio {
    text-align: center;
    padding: 0;
    margin-bottom: 72px;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
}

.portfolio-overlay {
    position: absolute;
    inset: 0;
    padding: 40px 32px;
    background-color: rgba(77, 90, 229, 1);
    color: #F4F4FD;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-card {
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
    height: 280px;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


/* ===== TABLET ===== */
@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-box {
        height: 300px;
    }

    .portfolio-card {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-overlay {
        padding: 40px 32px;
        font-size: 16px;
    }
}

/* ===== DESKTOP ===== */
@media screen and (min-width: 1158px) {
    .portfolio-list {
        gap: 48px 24px;
        margin-bottom: 120px;
    }

    .portfolio-box {
        height: 300px;
    }

    .portfolio-card {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-overlay {
        padding: 40px 32px;
        font-size: 16px;
        line-height: 1.5;
    }
}

/* ====== FOOTER ====== */


.footer-page {
    background-color: #2E2F42;
    padding: 96px 0;
}

.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}

.bottom-paragraph {
    max-width: 264px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-left {
    width: 264px;
    margin-right: 120px;
}

.footer-right {
    max-width: 208px;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-link-footer {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-icon-footer {
    fill: #F4F4FD;
}

.footer-mod {
    width: 453px;
    margin-left: auto;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
}

.subscribe-title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-row {
    display: flex;
    align-items: center;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
}

.submit-btn {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    color: #fff;
    border: none;
    border-radius: 4px;
    gap: 16px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    text-align: center;
}

.footer-left,
.footer-right,
.footer-mod {
    margin: 0;
    width: 100%;
}

.bottom-paragraph {
    margin: 0 auto;
}

.social-list-footer {
    justify-content: center;
}

.subscribe-form {
    width: 100%;
}

.subscribe-row {
    flex-direction: column;
    gap: 16px;
}

.subscribe-input {
    width: 100%;
    max-width: 264px;
    margin: 0 auto;
}

.submit-btn {
    width: 165px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 72px 24px;
        text-align: left;
        align-items: flex-start;
    }

    .footer-left {
        width: 264px;
        margin-right: 24px;
        text-align: left;
    }

    .footer-right {
        width: 208px;
        text-align: left;
    }

    .footer-mod {
        width: 100%;
        text-align: left;
    }

    .subscribe-row {
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-input {
        width: 264px;
        margin: 0;
    }

    .submit-btn {
        margin: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }

    .footer-left {
        margin-right: 120px;
    }

    .footer-right {
        margin-right: 80px;
    }

    .footer-mod {
        margin-left: auto;
        width: 453px;
    }

    .footer-page {
        padding: 100px 0;
    }
}