/* ====== BASE ====== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    background-color: #fff;
}

/* ======= RESET=======*/
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*======common======*/
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ====== LOGO (HEADER & FOOTER) ====== */

/* .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    color: #2E2F42;
    padding: 16px 0;
    margin-right: 76px;
} */

.section {
    padding: 120px 0;
}

.header-container {
    display: flex;
    align-items: center;
}


.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.accent {
    color: #4D5AE5;
}

.footer-logo-accent {
    color: #4D5AE5;
}

/* ====== NAV LINKS ====== */
.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}


.nav-link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404BBF;
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

/* ====== CONTACTS ====== */
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-link {
    display: block;
    padding: 24px 0;
    color: #434455;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}

.contacts-personnel {
    font-style: normal;
}

/* ====== HERO ====== */
.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image:
        linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office-1.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro {
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-title {
    max-width: 496px;
    padding: 0;
    color: #ffffff;
    font-size: 56px;
    margin-bottom: 48px;
    letter-spacing: 0.02em;
    line-height: 1.07;
}

.intro-button {
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.intro-button:hover,
.intro-button:focus {
    background-color: #404BBF;
}

/* ====== FEATURES ====== */

.icon {
    fill: #4D5AE5;
}


.features-list {
    display: flex;
    gap: 24px;
}

.features-item-box {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.our-team,
.team-portfolio {
    color: #2E2F42;
}

.features-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.features-text {
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* ====== TEAM ====== */
.team-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.team {
    background-color: #f4f4fd;
}

.team-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.team-card {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.team-name {
    padding: 32px 16px;
}

.our-team {
    text-align: center;
    padding: 0 0 72px 0;
    margin: 0 auto;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
}

.name {
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.specialty {
    text-align: center;
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
    background-color: #404BBF;
}

.social-icon {
    fill: #F4F4FD;
}

/* ====== PORTFOLIO ====== */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-card{
    width: calc((100% - 48px) / 3);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: rgba(77, 90, 229, 1);
    color: #F4F4FD;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    display: block;
    margin: 0;
}

.portfolio-card:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-card:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-photo {
    display: block;
}

.portfolio-img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.team-portfolio {
    text-align: center;
    padding: 0 0 72px 0;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.portfolio-category {
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* ====== FOOTER ====== */
.footer-page {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}

.bottom-paragraph {
    max-width: 264px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-left {
    width: 264px;
    margin-right: 120px;

    
}

.footer-right {
    max-width: 208px;
}

.social-list-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-link-footer {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-icon-footer {
    fill: #F4F4FD;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.social-link-footer:hover .social-icon-footer,
.social-link-footer:focus .social-icon-footer {
    fill: #ffffff;
}

.footer-mod {
    width: 453px;
    margin-right: 0;
    margin-left: auto;
}

/* Форма подписки */
.subscribe-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/* Лейбл */
.subscribe-label {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.subscribe-title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

/* Поле ввода */
.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
    color: #fff;
}

.subscribe-input:focus {
    border-color: #31D0AA;
    outline: none;
}

.subscribe-row {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* Кнопка */
.submit-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 40px;
    margin-left: 0;
    padding: 8px 24px;
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    gap: 16px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn-frame {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #31D0AA;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
}

/* ===== BACKDROP ===== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 300ms ease, visibility 300ms ease;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ===== MODAL ===== */
.modal {
    position: absolute;
    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow:
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ===== CLOSE BUTTON ===== */
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: #e7e9fc;
    color: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    background-color: #404bbf;
}

.modal-close:focus {
    background-color: #404bbf;
}

.modal-close:hover svg,
.modal-close:focus svg {
    fill: #fff;
}

.modal-close svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

/* ===== TITLE ===== */
.modal-title {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/* ===== FORM ===== */
.request-form {
    display: flex;
    flex-direction: column;
}

/* ===== FIELD ===== */
.modal-field {
    margin-bottom: 8px;
}

.modal-field:nth-child(4) {
    margin-bottom: 16px;
}

.modal-field:last-of-type {
    margin-bottom: 24px;
}

.modal-field textarea {
    margin-bottom: 0;
}

.modal-label {
    color: #8e8f99;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;;
}

/* ===== INPUTS ===== */
.modal-field-wrapper {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #111;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
    color: rgba(119, 47, 214, 0.35);
}

.modal-input:focus {
    outline: none;
    border-color: #4D5AE5;
}

/* ===== ICONS INSIDE INPUT ===== */
.modal-field-icon {
    fill: #2E2F42;
    stroke: none;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-field-icon {
    fill: #4D5AE5;
}

/* ===== TEXTAREA ===== */
.modal-textarea {
    height: 120px;
    resize: none;
    padding: 8px 16px;
    margin-bottom: 0;
}

/* ===== CHECKBOX ===== */
.modal-check-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 0;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-check-label a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.check-mark {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.modal-check-label .check-mark {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
}

.modal-check:focus+.modal-check-label .check-mark {
    border-color: #4D5AE5;
}

/* ===== SUBMIT BUTTON ===== */
.submit {
    width: 169px;
    height: 56px;
    background-color:#4D5AE5;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover,
.submit:focus {
    background-color: #404bbf;
}
